
<!-- Main modal -->

<div id="modal" class="modal bg-gray-700" [ngClass]="{'block':viewModal,'hidden':viewModal==false}">
  <!-- Contenido del modal -->
  <div class="modal-content">
    <div class="relative  w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div  class="relative rounded-lg shadow bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 *ngIf="selectTask" class="text-xl font-semibold text-gray-900 dark:text-white">
                  {{selectTask.title}}
              </h3>
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="openModalBtn(false)">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          <!-- Modal body -->
          <div class="p-4 md:p-5 space-y-4">
              <p *ngIf="selectTask" class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                  Fecha Limite: {{selectTask.dateLimit}}.
              </p>
              <h1 class="text-white">Personas Asociadas:</h1>
              <div *ngIf="selectTask">
                <div *ngFor="let item of selectTask.personsAsociate" class="border-gray-500">
                  <p  class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                      Nombre: {{item.name}}.
                  </p>
                  <p  class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Edad: {{item.age}}.
                  </p>
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Habilidades: {{item.skils.join(",")}}
                  </p>
                </div>
              </div>
          </div>
          <!-- Modal footer -->
          <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
              </div>
      </div>
  </div>
  </div>
</div>

<div *ngIf="dataTask()" class="flex flex-wrap gap-2">
  <div *ngFor="let item of dataTask()" class="max-w-sm sm:min-w-96 min-w-80  p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{item.title}}</h5>
    </div>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Fecha Limite: {{item.dateLimit}}.</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Estado {{!!item.completed ? 'Completada' : 'Pendiente'}}.
      <span *ngIf="!item.completed" >
        <svg class="w-6 h-6 text-red-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M10 5a2 2 0 0 0-2 2v3h2.4A7.48 7.48 0 0 0 8 15.5a7.48 7.48 0 0 0 2.4 5.5H5a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1V7a4 4 0 1 1 8 0v1.15a7.446 7.446 0 0 0-1.943.685A.999.999 0 0 1 12 8.5V7a2 2 0 0 0-2-2Z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M10 15.5a5.5 5.5 0 1 1 11 0 5.5 5.5 0 0 1-11 0Zm6.5-1.5a1 1 0 1 0-2 0v1.5a1 1 0 0 0 .293.707l1 1a1 1 0 0 0 1.414-1.414l-.707-.707V14Z" clip-rule="evenodd"/>
        </svg>
      </span>
      <span *ngIf="!!item.completed" >
        <svg class="w-6 h-6 text-green-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z" clip-rule="evenodd"/>
        </svg>

      </span>
    </p>
    <div class="flex gap-2">
        <div  (click)="selectModalTask(item)">
          <!-- data-modal-target="static-modal" data-modal-toggle="static-modal" -->
          <button (click)="openModalBtn()" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" >
              Mas Detalles
              <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </button>
      </div>
      <div *ngIf="!item.completed">
        <div class="flex items-center mt-2">
          <input id="link-checkbox" type="checkbox" (change)="changeCompletedTask(item)" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="link-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Tarea Completa?</label>
        </div>
      </div>
    </div>
  </div>
</div>


