<div class="md:fixed rounded-3xl">
  <h1 class="text-3xl">Crear Nueva Tarea</h1>
  <form [formGroup]="formTask" (ngSubmit)="onSubmit()" class="max-w-md mx-auto md:max-h-96 md:overflow-y-auto p-3 bg-gray-200 border contenedor md:rounded-l-3xl">
    <div class="relative z-0 w-full mb-5 group">
        <input formControlName="title" type="text"   class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none    focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label  class="peer-focus:font-medium absolute text-sm  text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4  peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre de la tarea:</label>
        <div *ngIf="formTask.get('title')?.invalid && formTask.get('title')?.touched">
          <span class="text-red-500">El Nombre de la tarea es obligatorio.</span>
        </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="date" formControlName="dateLimit" name="floating_date"  class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none    focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_date" class="peer-focus:font-medium absolute text-sm  text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4  peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Fecha límite:</label>
        <div *ngIf="formTask.get('dateLimit')?.invalid && formTask.get('dateLimit')?.touched">
          <span class="text-red-500">La fecha límite es obligatoria.</span>
        </div>
    </div>
    <h1>Personas Asociadas</h1>
    <div formArrayName="personsAsociate">
      <div *ngFor="let person of personsAsociate.controls; let i=index" [formGroupName]="i" class="border-black border-solid rounded-3xl p-3 mb-2 border">
        <div class="relative z-0 w-full mb-5 group">
            <input formControlName="name" type="text"  class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none    focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
            <label  class="peer-focus:font-medium absolute text-sm  text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4  peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre completo:</label>
            <div *ngIf="person.get('name')?.invalid && person.get('name')?.touched">
              <span class="text-red-500">El nombre es obligatorio y debe tener minimo 5 caracteres.</span>
            </div>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <input type="text"  formControlName="age" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none    focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
            <label  class="peer-focus:font-medium absolute text-sm  text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4  peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Edad:</label>
            <div *ngIf="person.get('age')?.invalid && person.get('age')?.touched">
              <span class="text-red-500">Debe ser un número válido mayor a 18.</span>
            </div>
        </div>
        <div formArrayName="skils">
          <div *ngFor="let skill of getSkills(i).controls; let j=index" class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
              <input type="text" [formControlName]="j"   class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none    focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
              <label  class="peer-focus:font-medium absolute text-sm  text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4  peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"> Habilidad:</label>
            </div>
            <div class="flex gap-2">
              <span (click)="addSkill(i)">
                <svg class="w-6 h-6 mt-5 text-green-500 cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4.243a1 1 0 1 0-2 0V11H7.757a1 1 0 1 0 0 2H11v3.243a1 1 0 1 0 2 0V13h3.243a1 1 0 1 0 0-2H13V7.757Z" clip-rule="evenodd"/>
                </svg>
              </span>
              <span *ngIf="j > 0">
                <svg  (click)="removeSkill(i, j)" class="w-6 h-6 text-red-500 cursor-pointer mt-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <button *ngIf="i>0" type="button" (click)="removePerson(i)" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm w-full sm:w-auto py-2.5 text-center p-3">Eliminar Persona</button>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <button type="button" (click)="addPerson()" class="text-white  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm w-full sm:w-auto py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Añadir Persona</button>
      <button type="submit" class="text-white  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm w-full sm:w-auto py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Crear Tarea</button>
    </div>
  </form>
  <h1>Filtrar tarea por:</h1>
  <div class="grid grid-cols-3 gap-2">
    <button (click)="filterEstate('todos')" class="text-white  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm w-full sm:w-auto py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Todas</button>
    <button (click)="filterEstate('complete')" class="text-white  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm w-full sm:w-auto py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Completadas</button>
    <button (click)="filterEstate('')" class="text-white  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm w-full sm:w-auto py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Pendientes</button>
  </div>
</div>

<div class="z-50 relative">

  <div id="toast-success" class="flex absolute items-center w-full max-w-xs p-4 mb-4 rounded-lg shadow text-gray-400 bg-gray-800" role="alert" [ngClass]="{'hidden':viewNotification}">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8  rounded-lg bg-green-800 text-green-200">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
        </svg>
        <span class="sr-only">Check icon</span>
    </div>
    <div class="ms-3 text-sm font-normal">Tarea creada con exito.</div>
    <button (click)="showMessage()" type="button" class="ms-auto -mx-1.5 -my-1.5   rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5  inline-flex items-center justify-center h-8 w-8 text-gray-500 hover:text-white bg-gray-800 hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>
  </div>
  <div id="toast-danger" class="flex items-center w-full max-w-xs p-4 mb-4  rounded-lg shadow text-gray-400 bg-gray-800" role="alert"[ngClass]="{'hidden':viewNotificationError}">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8  rounded-lg bg-red-800 text-red-200">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
        </svg>
        <span class="sr-only">Error icon</span>
    </div>
    <div class="ms-3 text-sm font-normal">Tiene Campos vacios o invalidos.</div>
    <button (click)="showMessageError()" type="button" class="ms-auto -mx-1.5 -my-1.5   rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5  inline-flex items-center justify-center h-8 w-8 text-gray-500 hover:text-white bg-gray-800 hover:bg-gray-700" data-dismiss-target="#toast-danger" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>
</div>
</div>

